html{
    /*scroll-behavior: smooth;*/
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    background-color: #F2E9D8;
    justify-content: space-between;
    align-items: flex-end;
}
header img{
    margin: 40px 0 40px 260px;
}
header div{
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    margin: 40px 250px 40px 0;
}
header div a{
    color: black;
    text-decoration-line: none;
}
.btn{
    width: 140px;
    height: 50px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: #D97652;
    cursor: pointer;
}
.btn:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
main{
    padding: 0 190px;
    display: flex;
    background-color: #F2E9D8;
    align-items: center;
    justify-content: space-evenly;
}
main div{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
#main-title{
    margin: 0;
    font-weight: bold;
    font-size: 48px;
}
#box-cat{
    width: auto;
    height: auto;
    max-width: 415px;
    max-height: 700px;
}
article{
    padding: 20px 140px 0 140px;
}
.top{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.top img{
    width: 560px;
    height: 330px;
}
.top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#under-title{
    font-weight: bold;
    font-size: 48px;
    color: #D97652;
    text-align: center;
}
#under-explain{
    text-align: center;
    margin-bottom: 80px;
}
.hodu-img{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.each-img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin: 50px 50px;
    filter: drop-shadow(10px 10px 30px rgb(0, 0, 0, 0.25));
}
#more-hodu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
#more-hodu span{
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 28px;
}
hr{
    border: 0;
    margin: 50px 0;
    height: 1px;
    background: #C4C4C4;
}
.contact{
    padding: 20px 120px 0 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
.contact > span{
    font-weight: bold;
    font-size: 36px;
}
#address{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    color: #606367;
}
#map{
    width: 100%;
    height: 520px;
    border: 0;
    border-radius: 12px;
}
form{
    border-radius: 30px;
    background-color: #263140;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
}
#subscribe > p:nth-child(1){
    margin: 40px;
    font-weight: bold;
    font-size: 36px;
}
#subscribe > p:nth-child(2){
    margin: 40px;
    font-size: 14px;
}
label{
    position: relative;
}
input {
    width: 450px;
    height: 55px;
    border-radius: 60px;
    background-image: url("img/email-icon.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 40px;
    color: #767676;
}
label > button{
    position: absolute;
    right: 5px;
    top: 5px;
}
.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
.modal_popup{
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("img/modal.svg");
    border-radius: 30px;
    filter: drop-shadow(0 0 30px rgb(0, 0, 0, 0.2));
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
#thanks{
    font-weight: bold;
    font-size: 36px;
    color: #D97652;
}
.modal_popup > span{
    margin: 5px;
}
#close-modal{
    margin-top: 15px;
}
#bottom-img{
    position: relative;
}
#back-img{
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 100%;
    top: -130px;
}
#hover{
    position: absolute;
    right: 15px;
    top: 100px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#logo{
    height: 50px;
    margin: 40px 0 40px 260px;
}
footer{
    margin-top: 180px;
}
footer div{
    display: flex;
    margin: 40px 260px 40px 0;
    justify-content: end;
    align-items: center;
}
footer div img{
    height: 30px;
    margin: 10px;
}